@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

.codeWorkspace {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    height: 100%;
    width: calc(100% - 523px);
}
.codeWorkspace .codeHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background-color: var(--panel-hover);
    padding: 10px;
    height: 40px;
}
.codeWorkspace .codeHeader h2 {
    margin: 0;
}
.codeEditorContainer {
    overflow-y: auto;
    flex-grow: 1;
}
.codeEditor {
    font-family: "Fira code", "Fira Mono", Consolas, monospace;
    flex-grow: 1;
    min-height: 100%;
}
.codeEditor .editorLineNumber {
    position: absolute;
    left: 0px;
    color: #cccccc;
    text-align: right;
    width: 40px;
    font-weight: 100;
}
.codeEditor textarea {
    outline: none;
    padding-left: 60px !important;
}

.codeEditor pre {
    padding-left: 60px !important;
}

.loading {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border: 4px solid transparent;
    border-left-color: white;
    border-top-color: white;
    animation: loading 1s infinite linear;
    position: relative;
}
.loading svg {
    animation: loadingInside 1s infinite linear;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 16px;
    width: 16px;
    color: white;
    transition: all 0.1s ease-in-out;
}
.btn:hover .loading {
    border-left-color: #ccc;
    border-top-color: #ccc;
}
.btn:hover .loading svg {
    width: 28px;
    height: 28px;
    left: -6px;
    top: -6px;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes loadingInside {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
  