header {
    width: calc(100% - 2em);
    height: 50px;
    background-color: var(--navbar-blue);
    box-shadow: 0 0 10px black;
    padding: 0 1em;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;

    position: sticky;
    top: 0;
    z-index: 99;
}
header .logo, header .logo * {
    margin: 0;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}
header .logo1 {
    color: var(--light-orange);
}
header .logo2 {
    color: var(--light-magenta);
}
header .logo3 {
    color: var(--light-blue);
}
header .logo:hover * {
    color: var(--light-green) !important;
}

@media screen and (max-width: 700px) {
    header .logo {
        font-size: 0.5em;
        background-color: var(--opaque-black);
        padding: 5px;
    }
    header .logo3 {
        display: block;
    }
}